* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 18px;
}
/* header */
header{
 
  
}
.logo {
  background: linear-gradient(rgba(70, 130, 180, 1), rgba(70, 130, 180, 0.5), rgba(255, 255, 255, 0.5));
}
.logo img {
  width: 250px;
  margin: 20px 0px 0 50px;
}
.lista--nav {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  position: fixed;
  width: 65%;
  right: 0%;
  z-index: 5;
  display: inline-flex; 
  list-style: none;
 
  
}
.lista--nav a {
  text-decoration: none;
  color: black;
  
}
.lista--nav li,
.lista--menu li {
  padding-right: 20px;
  margin: 10px;
  font-size: 18px;
  
}
/* menu */

.fila {
  width: 900px;
  margin: 50px auto;
}
.titulo--secundario {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}
.lista--menu {
  display: inline-flex;
  list-style: none;
}

.lista--menu a {
  text-decoration: none;
  color: black;
}
.lista--menu a:hover , .lista--nav a:hover {
  color: #000;
  font-weight: bolder;
  text-shadow: 0px 0px 16px #4682B4;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 10px #FFFFFF; 
box-shadow: 0px 0px 10px 10px #FFFFFF;
}

.img--pefil {
  margin: 20px;
  border-radius: 50%;
  height: 250px;
  float: right;
  opacity: .85;
  /*transform: rotate(-5deg);*/
  
}
.img--pefil:hover{
  opacity: 1;
  border-radius: 50%;
  transition: all 2s ease 0s ;
/*  transform: rotate(5deg);*/
  }
.descripcion--perfil {
  margin: 20px 0;
}
/* sobre mi */
/* skills */
.ordenar--items {
  display: flexbox;
  flex-wrap: wrap;
  
}
.icono {
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  
}

/* Hobbies*/

/* formacion academica*/
.tarjeta {
  width: 220px;
  height: 220px;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 15px 50px;
  background: radial-gradient(rgba(70, 131, 180, 0.5), steelblue);
  margin: 10px;
  vertical-align: middle;
  


}
.tarjeta:hover {
  transform: scale(1.2);
}
.tarjeta--titulo {
  font-size: larger;
  font-weight: bold;
  padding: 10px;
}
/* experiencia profecional */
.tarjeta--pagina {
  width: 100%;
  border-bottom: 10px #eee ridge;
  margin-bottom: 20px;
}

.tarjeta--pagina img {
  width: 48%;
  display: inline-flex;
}
.tarjeta--pagina div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px;
}
.btn {
  display: inline-block;
  border: 1px black solid;
  box-shadow: 5px 5px black 45deg;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: steelblue;
  padding: 10px;
  width: 100px;
  margin: 50px 10px 0 0;
}
.btn:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* contacto */
.img--contactos {
  float: left;
  width: 55%;
}
.formulario {
  vertical-align: top;
  display: grid;
  width: 40%;
  padding: 100px 10px;
}
.formulario input,

.formulario textarea {
  padding: 10px;
  border-color: lightgray 2px;
  border-style: groove;

  border-radius: 5px;
  margin: 5px;
}
.formulario button{
  margin-top: 10px;
  width: 100%;
}
/* footer */
.footer--centrado {
  float: inline-end;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(70, 130, 180, 0.5),rgba(70, 130, 180, 1));
  color: black;
  padding: 50px;
  text-align: center;
}
