* {
  margin: 0;
  padding: 0;
}
/* header */
.logo{
  background: linear-gradient( steelblue , white);
}
.logo img {
  width: 250px;
  margin: 20px 0px 0 50px;
}
.lista--nav {
  display: inline-flex;
  list-style: none;
  float: right;
}
.lista--nav a {
  text-decoration: none;
  color: black;
}
.lista--nav li,
.lista--menu li {
  padding-right: 20px;
  margin-top: 15px;
}
/* menu */

.fila {
  width: 900px;
  margin: 50px auto;
}
.titulo--secundario {
  font-size: 1.5 rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}
.lista--menu {
  display: inline-flex;
  list-style: none;
 
}

.lista--menu a{
  text-decoration: none;
  color: black;
}
.img--pefil {
  margin: 20px;
  border-radius: 50%;
  height: 250px;
  float: right;
}
.descripcion--perfil {
  margin: 20px 0;
}
/* sobre mi */
/* skills */
.ordenar--items {
  display: flex;
}
.icono {
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  
}


/* Hobbies*/

/* formacion academica*/
.tarjeta {
  width: 200px;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 15px 50px;
  background: radial-gradient(rgba(70, 131, 180, 0.5), steelblue);
  margin: 0 auto;
  
}
.tarjeta--titulo {
  font-size: larger;
  font-weight: bold;
  padding: 10px;
}
/* experiencia profecional */
.tarjeta--pagina {
  width: 100%;
  border-bottom: 10px #eee ridge;
  margin-bottom: 20px;
}

.tarjeta--pagina img {
  width: 49%;
  display: inline-flex;
}
.tarjeta--pagina div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px;
}
.btn {
  display: inline-block;
  border: 1px black solid;
  box-shadow: 5px 5px black 45deg;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: steelblue;
  padding: 10px;
  width: 100px;
  margin: 50px 10px 0 0;
}
/* contacto */
.img--contactos {
  float: left;
  width: 55%;
}
.formulario {
  vertical-align: top;
  display: grid;
  width: 40%;
  padding: 100px 10px;
}
.formulario input,
.formulario textarea {
  padding: 10px;
  border-color: lightgray;
  border-radius: 5px;
  margin: 5px;
}
/* footer */
.footer--centrado {
  float: inline-end;
  background: linear-gradient(white, steelblue);
  color: black;
  padding: 50px;
  text-align: center;
}
